@import "../../../index.scss";
.Home_Container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  .Left_Block {
    width: 50%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    flex-direction: column;
    background-color: $secondary;
    position: relative;
    img {
      width: 60%;
      margin-bottom: 16px;
    }
    h1 {
      color: $light;
      font-weight: 400;
    }
    .Dots_Container {
      position: absolute;
      left: 0;
      bottom: 0;
      display: flex;
      flex-wrap: wrap;
      width: 100px;
      height: 100px;
      .Dots {
        width: 16px;
        height: 16px;
        border-radius: 8px;
        margin: 2px;
        background-color: #faf9f956;
      }
    }
  }
  .Right_Block {
    width: 50%;
    height: inherit;
    padding: 1rem;
    display: flex;
    align-self: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .Home_Container {
    .Left_Block {
      h1 {
        font-size: 24px;
      }
    }
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .Home_Container {
    .Left_Block {
      width: 40%;

      img {
        width: 80%;
        margin-bottom: 16px;
      }
      h1 {
        color: $light;
        font-weight: 400;
        font-size: 16px;
      }
    }
    .Right_Block {
      width: 60%;
    }
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .Home_Container {
    flex-direction: column-reverse;
    .Left_Block {
      width: 100%;

      img {
        width: 90%;
        margin-bottom: 16px;
      }
      h1 {
        color: $light;
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 16px;
      }
      .Dots_Container {
        position: absolute;
        left: 50%;
        top: 0;
        display: flex;
        flex-wrap: wrap;
        width: 100px;
        height: 100px;
      }
    }
    .Right_Block {
      width: 100%;
      margin-top: -16px;
      position: relative;
      z-index: 11;
      background: white;
      border-radius: 12px;
    }
  }
}
