@import "../../../index.scss";
.UserProducts {
  width: 100%;
  padding: 1rem;
  h1 {
    font-weight: 500;
    font-size: 2rem;
    color: $primary;
    text-align: center;
    margin-bottom: 10px;
  }
  p {
    color: $dark;
    text-align: center;
    margin-bottom: 16px;
  }
  .TabContainer {
    width: 60%;
    margin: auto;
    .TabHead {
      display: flex;
      align-items: center;
      position: relative;
      .Button {
        margin: auto;
        padding: 8px;
        width: 25%;
        text-align: center;
        cursor: pointer;
        transition: 0.5s ease-in-out;
        &:hover {
          &:nth-child(1) {
            background: linear-gradient(360deg, #0091ff31, transparent);
          }
          &:nth-child(2) {
            background: linear-gradient(360deg, #00d84831, transparent);
          }
          &:nth-child(3) {
            background: linear-gradient(360deg, #ff515131, transparent);
          }
          &:nth-child(4) {
            background: linear-gradient(360deg, #d3be0031, transparent);
          }
        }
      }
      .Line {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 4px;
        border-radius: 15px;
        // background-color: $secondary;
        transition: 0.5s ease-in-out;
      }
    }
    .TabDetails {
      width: 100%;
      // padding: 12px;
      .TabContainer {
        width: 100%;
        .ItemRow {
          display: flex;
          .Left {
            width: 20%;
            padding: 12px;
            img {
              width: 100%;
            }
          }
          .Right {
            width: 80%;
            padding: 12px;
            .Desc {
              display: flex;
              flex-wrap: wrap;
              margin-bottom: 6px;
              h4,
              p {
                margin: 0;
                padding: 0;
                line-height: 24px;
              }
              h4 {
                font-weight: 500;
                color: $secondary;
                font-size: 15px;
                margin-right: 8px;
              }
              p {
                color: $dark;
                font-size: 14px;
              }
              .Tags {
                margin-right: 8px;
                .Label {
                  background-color: $secondary;
                  color: $primary;
                  font-size: 10px;
                  padding: 6px 8px;
                  border-radius: 4px 0 0 4px;
                }
                .Value {
                  background-color: $primary;
                  color: $secondary;
                  font-size: 10px;
                  padding: 6px 8px;
                  border-radius: 0 4px 4px 0;
                }
              }
            }
            .Remove,
            .Add {
              border: none;
              outline: none;
              padding: 6px 12px;
              font-size: 10px;
              border-radius: 4px;
            }
            .Remove {
              color: red;
              background-color: rgba(255, 0, 0, 0.2);
            }
            .Add {
              color: green;
              background-color: rgba(0, 128, 0, 0.2);
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 426px) {
  .UserProducts {
    width: 100%;
    padding: 12px;
    h1 {
      font-weight: 500;
      font-size: 24px;
      color: $primary;
      text-align: center;
      margin-bottom: 10px;
    }
    p {
      color: $dark;
      text-align: center;
      margin-bottom: 16px;
    }
    .TabContainer {
      width: 90%;
      margin: auto;
      .TabHead {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        overflow: scroll;
        flex-wrap: nowrap;
        .Button {
          min-width: 120px;
          margin: auto;
          padding: 8px;
          text-align: center;
          cursor: pointer;
          transition: 0.5s ease-in-out;
          font-size: 12px;
          &:hover {
            &:nth-child(1) {
              background: linear-gradient(360deg, #0091ff31, transparent);
            }
            &:nth-child(2) {
              background: linear-gradient(360deg, #00d84831, transparent);
            }
            &:nth-child(3) {
              background: linear-gradient(360deg, #ff515131, transparent);
            }
            &:nth-child(4) {
              background: linear-gradient(360deg, #d3be0031, transparent);
            }
          }
        }
        .Line {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 0;
          height: 4px;
          border-radius: 15px;
          // background-color: $secondary;
          transition: 0.5s ease-in-out;
        }
      }
      .TabDetails {
        width: 100%;
        // padding: 12px;
        .TabContainer {
          width: 100%;
          .ItemRow {
            display: flex;
            .Left {
              width: 20%;
              padding: 12px;
              img {
                width: 100%;
              }
            }
            .Right {
              width: 80%;
              padding: 12px;
              .Desc {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 6px;
                h4,
                p {
                  margin: 0;
                  padding: 0;
                  line-height: 24px;
                }
                h4 {
                  font-weight: 500;
                  color: $secondary;
                  font-size: 15px;
                  margin-right: 8px;
                }
                p {
                  color: $dark;
                  font-size: 14px;
                }
                .Tags {
                  margin-right: 8px;
                  .Label {
                    background-color: $secondary;
                    color: $primary;
                    font-size: 10px;
                    padding: 6px 8px;
                    border-radius: 4px 0 0 4px;
                  }
                  .Value {
                    background-color: $primary;
                    color: $secondary;
                    font-size: 10px;
                    padding: 6px 8px;
                    border-radius: 0 4px 4px 0;
                  }
                }
              }
              .Remove,
              .Add {
                border: none;
                outline: none;
                padding: 6px 12px;
                font-size: 14px;
                border-radius: 4px;
              }
              .Remove {
                color: red;
                background-color: rgba(255, 0, 0, 0.2);
              }
              .Add {
                color: green;
                background-color: rgba(0, 128, 0, 0.2);
              }
            }
          }
        }
      }
    }
  }
}
